* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	padding: 2rem 0;
	margin: 0;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	background-color: gainsboro;
}

#app {
	width: 70%;
	height: 100%;
	background-color: white;
	padding: 2rem;
	border: 1px solid black;
}

header {
	display: flex;
	flex-direction: column;
}

#search {
	display: flex;
	gap: 1rem;
}

#searchInfo {
	color: gray;
}

ol {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

#pagiationsControls {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 1.8rem;
}
